@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  list-style-type: none;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  text-decoration: none;
}

/* GENERICS */

body {
  background-color: #242424;
}

nav {
  width: 100%;
  height: 85px;
  position: fixed;

  z-index: 1;
  background-color: #212121;
}
h1 {
  color: white;
}
h4{
    font-weight: 400;
}
a {
  color: white;
}
button {
  color: #242424;
}
.pink {
  color: #f2aa4cff;
}
p {
  color: white;
}
.container {
  width: 100%;
  margin: 50px 0;
}
.row {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 12px;
  width: 100%;
}

/* ---LANDINGPAGE--- */

.nav__container {
  padding: 20px 90px 20px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  gap: 40px;
}
.logo {
  width: 150px;
}
.nav__link--anchor {
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}
.nav__link--anchor:hover {
  color: #f2aa4cff;
}
#landing-page {
  height: 100vh;
  background-color: #242424;
}
.landing-page__main-content--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.landing-page__main--content {
  text-align: center;
  position: relative;
  top: 25%;
}
.landing-page__title {
  font-size: 64px;
}
.landing-page__para {
  font-size: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.landing-page__btn {
  margin-top: 5rem;
  border: none;
  padding: 16px 70px;
  background-color: #f2aa4cff;
  color: #242424;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  transition: all 300ms ease;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.landing-page__btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.scroll {
  position: absolute;
  bottom: 20px;
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  background-color: white;
  width: 4px;
  height: 6px;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #f2aa4cff;
  color: #242424;
  position: absolute;
  bottom: 32px;
  z-index: 100;
  position: fixed;
  right: 40px;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.5);
}
.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.15);
}

.click:active {
  transform: scale(0.8);
}

/* MODAL */
.modal--open .nav__container,
.modal--open .landing-page__main-content--container,
.modal--open .social__links {
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;
}

nav,
.scroll,
.landing-page__main-content--container,
.social__links {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 600ms ease;
}

.modal {
  position: absolute;
  max-width: 1100px;
  overflow: hidden;
  display: flex;

  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 600ms ease;
  position: relative;
}

.modal__about {
  background-color: white;
  transform: translateX(-110%);

  
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__languages {
  grid-row-gap: 16px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;

}

.modal__language {
 
  padding-bottom: 25px;
padding-top: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
  font-weight: bold;
}

.modal__language:hover .language__name {
  transform: scale(1);
}

.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.modal__language--img {
  width: 50px;
  height: 50px;
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 16px;
}

.modal__para {
  
  line-height: 1.75;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  color: #242424;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #f2aa4cff;
  border: 2px solid #f2aa4cff;
  color: #242424;
  font-weight: bold;
  max-width: 240px;
  font-weight: 700;
  width: 100%;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #f2aa4cff;
  background-color: transparent;
  color: #fff;
}

.form__submit:active {
  border-color: #f2aa4cff;
  color: #f2aa4cff;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: black;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #f2aa4cff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 90px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: #e3dac9;
  outline: none;
  border: 3px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

.social__links {
  display: flex;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  gap: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #f2aa4cff;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  padding: 0.5rem;
}
.social__link--logo {
  font-size: 30px;
  color: #242424;
}

.social__links-mobile {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  display: none;
}

/* Hamburger menu */
.menu__btn {
  display: none;
}

.menu__logo {
  filter: grayscale(1);
  filter: invert(1);
}

.menu {
  height: 50vh;
  width: 75%;
  position: relative;
  top: 100%;
  float: right;
  background-color: hsl(0 0% 0% / 1);
  backdrop-filter: blur(0.5rem);
  text-align: right;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease;
  transform: translateX(100%);
  border-radius: 10px;
}
.menu__active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}

.menu__links {
  position: relative;
  top: 20%;
}
.menu__link {
  padding: 15px;
  font-size: 20px;
  border-bottom: 1px solid #242424;
  border-top: 1px solid #242424;
}

/* ---PROJECTS--- */

#projects{
    padding-top: 5.3rem;
}
.projects__container {

  width: 100%;
}
.projects__row {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 12px;
  width: 100%;
}
.projects__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
.section__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 40px;
  position: relative;
}
.section__title::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #f2aa4cff;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.project__img {
  width: 100%;
  height: 500px;
  transition: all 450ms ease;
  object-fit: cover;
  cursor: pointer;
}
.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  transition: all 450ms ease;
  cursor: pointer;
}
.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(2px);
}
.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.8;
  background-color: #1c1d25;
  cursor: pointer;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: all 450ms ease;
  color: white;
  max-width: 550px;
  cursor: pointer;
}
.project__wrapper--bg {
  transition: all 300ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  cursor: pointer;
}
.project__description--title {
  font-size: 40px;
}
.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}
.project__description--para {
  margin: 16px 0;
}
.project{
    margin-bottom: 10rem;
    transition: all 450ms ease;
    cursor: pointer;
}





/* PROJECTS MOBILE */
.project__list--mobile{
  text-align: center;
  display: none;
  cursor: pointer;
}
.mobile--img{
  width: 75%;
  height: 75%;
}
.project__mobile--title{
  font-weight: 400;
  margin-bottom: 10px;
}
.project__mobile--sub--title{
  color: white;
  margin-bottom: 30px;
}
.mobile__btn{
  
    border: none;
    padding: 16px 70px;
    background-color: #f2aa4cff;
    color: #242424;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    transition: all 300ms ease;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.project__list--container{
  margin-bottom: 10rem;
}


/* FOOTER */
#footer{
  background-color: #212121;
}
.footer__container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.footer__upper{
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.footer__introduction{
  width: 100%;
}
.footer__title{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer__title--social{
  font-size: 1.5rem;
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 20px;
}
.footer__social{
  width: 100%;
  max-width: 200px;
}
.footer__title--para{
  font-size: 14px;
}
.footer__social--links{
  width: 100%;
  max-width: 125px;
  display: flex;
  justify-content: space-between;
}
.footer__social--link{

  font-size: 20px;
}
.footer__copyright{
    border-top: 1px solid #444;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    
}
.footer__copyright--para{
  margin-top: 20px;
  font-size: 11px;
}
.underline{
  text-decoration: underline;
}



@media (min-width: 300px) {
  .nav__links {
    display: none;
  }
  .menu__btn {
    display: block;
    font-size: 30px;
    color: white;
  }
  .nav__container {
    padding: 20px 20px 20px 20px;
  }
  .mail__btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  .social__links {
    display: none;
  }
  .social__links-mobile {
    display: block;
    display: flex;
  }
  .landing-page__main--content {
    position: relative;
    top: 15%;
  }
  .landing-page__title {
    font-size: 40px;
  }
  .landing-page__para {
    font-size: 18px;
    margin-top: 20px;
    max-width: 80%;
  }
  .scroll {
    display: none;
  }
  .landing-page {
    height: calc(100vh - 85px);
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    z-index: -1;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
  }
  
  .hamburger {
    display: block;
  }
  .hamburger_inactive {
    display: none;
  }
  .times {
    display: none;
  }

  
  .scroll{
    display: block;
  }
  .footer__upper{
    display: block;
  }
  .footer__introduction{
    text-align: center;
    margin-bottom: 40px;
    max-width: none;

  }
  .footer__title--para{
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  .footer__social{
    margin: 0 auto;
  }
  .footer__title{
    text-align: center;
  }
  .footer__social--links{
    max-width: 225px;
  }
  .footer__title--social{
    text-align: center;
  }
}


@media (min-width: 768px){
.nav__links >:nth-child(1){
  display: flex;
}
.nav__links >:nth-child(2){
  display: flex;
}
.social__links{
  flex-direction: column;
  align-items: center;
  display: flex;
}
.social__links-mobile{
  display: none;
}
.menu__btn{
  display: none;
}
.nav__links{
  display: flex;
}

}

@media (min-width: 769px){

  .project__list{
    display: block;
  }
  .footer__upper{
    display: flex;
  }
  .footer__introduction{
    max-width: 500px;
  }
  .footer__title{
    text-align: left;
    margin-left: 40px;
  }
  .footer__title--para{
    text-align: left;
    margin-left: 40px;
  }
  .footer__title--social{
    text-align: left ;
  }
  
  .modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 90%;
    flex-direction: unset;
    border-radius: 10px;
  }


}



